
@{
    Layout = null;
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<h1>Yeni kategori ekleme sayfası</h1>

<br/>

<form class="form-group" method="post"> <!--sayfada post işlemi olunca çalışsın-->
    <input type="text" placeholder="Kategori Adı" name ="CategoryName" class="form-control"/>
    <br/>
    <input type="text" placeholder="Açıklama Giriniz" name ="CategoryDescription" class="form-control"/>
    <br/>
    <button class="btn btn-primary">Ekle</button>

</form>