
@{
    Layout = null;
}

<h3>Kamp Tablo Örneği - Kategori</h3>

<br/>
<table>
    <tr>
        <th>Id</th>
        <th>Adı</th>
        <th>Açıklama</th>
        <th>Durum</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Eğitim</td>
        <td>Açıklama yaptık</td>
        <td>true</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Spor</td>
        <td>Açıklama Yapıldı</td>
        <td>True</td>
    </tr>
</table>